@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.burger {
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
  width: 3rem;
  height: 3rem;
  padding: 1rem 0;
  align-self: flex-end;

  &-bar {
    width: 100%;
    border-radius: 20px;
    transform-origin: -1px;

    &-top {
      transform-origin: left bottom;
      transition: 0.5s;
      transition-timing-function: ease-out;

      &--open {
        transform: rotate(45deg);
        border: solid 2px white;
      }

      &--closed {
        transform: rotate(0deg);
        border: solid 2px black;
      }
    }

    &-middle {
      &--open {
        transform: translateX(100%);
        opacity: 0;
        border: solid 2px white;
      }

      &--closed {
        transform: translateX(0);
        opacity: 1;
        border: solid 2px black;
      }
    }

    &-bottom {
      transform-origin: left bottom;
      transition: 0.5s;
      transition-timing-function: ease-out;

      &--open {
        transform: rotate(-45deg);
        border: solid 2px white;
      }

      &--closed {
        transform: rotate(0deg);
        border: solid 2px black;
      }
    }
  }

  @include breakpoint(screen-m) {
    display: none;
  }
}
