@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";
@import "../../../styles/base/typography";

.navmobile {
  &--open {
    background-color: $primary;
    position: absolute;
    z-index: 2;
  }

  &--closed {
    position: absolute;
    padding: 5rem;
    width: 100%;
    box-sizing: border-box;
  }

  &__wrapper {
    &--closed {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &--open {
      padding: 4rem;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      height: 100vh;
      width: 100vw;
      overflow: hidden;
    }
  }

  &__list {
    &--open {
      display: flex;
      flex-direction: column;
      visibility: visible;
    }

    &--closed {
      display: none;
      visibility: hidden;
    }

    @include breakpoint(screen-m) {
      display: none;
      visibility: hidden;
    }
  }

  &__link {
    width: 100vw;
    font-family: Roboto;
    font-size: 3.5rem;
    margin-left: 3rem;

    &:hover {
      border-bottom: 4px $primary solid;
    }
  }
}

.logo {
  &--closed {
    font-family: philosopher;
    font-size: 5rem;

    &:hover {
      font-style: italic;
    }
  }

  &--open {
    display: none;
    visibility: hidden;
  }
}
