@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";
@import "../../../styles/base/typography";

.navdesktop {
  position: absolute;
  padding: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: -webkit-fill-available;
  display: none;
  visibility: hidden;

  @include breakpoint(screen-m) {
    display: flex;
    visibility: visible;
  }

  &__link {
    font-family: Roboto;
    font-size: 3.5rem;
    margin-left: 3rem;

    &:hover {
      border-bottom: 4px $primary solid;
    }
  }
}

.logo {
  font-family: philosopher;
  font-size: 5rem;

  &:hover {
    font-style: italic;
  }
}
